.member-wrapper {
  display: inline-block;
  padding: 1px;
  vertical-align: bottom;
  .member {
    align-items: center;
    background-color: $color-dusty-gray;
    border-radius: 12px;
    display: flex;
    flex-shrink: 0;
    font-size: 14px;
    overflow: hidden;
    padding: 3px 7px 3px 3px;
    transition: all 0.2s ease;
    &:hover {
      background-color: $color-punch;
    }
  }
  &:first-child {
    .member:hover {
      background-color: $color-dusty-gray;
    }
  }
  .avatar {
    margin-right: 5px;
  }
  .member-name {
    color: #fff;
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70px;
    white-space: nowrap;
  }
}
