@keyframes shine {
	0% {
		background-position: -500px 0;
	}
	80% {
		background-position: 2100px 0;
	}
	100% {
		background-position: 2100px 0;
	}
}

@keyframes zoom-in-out {
	25% {
		transform: scale(0.95);
	}
	50% {
		transform: scale(1);
	}
	75% {
		transform: scale(0.95);
	}
	100% {
		transform: scale(1);
	}
}
