/* CSS3 Prefixes
 * @param {*} $property - Property
 * @param {*} $value - Value
 */
@mixin css3-prefix($property, $value) {
  #{$property}: #{$value};
  -o-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -khtml-#{$property}: #{$value};
  -webkit-#{$property}: #{$value};
}
/* Box Shadow
 * @param {none|h-shadow v-shadow blur spread color |inset|initial|inherit} $value - Value
 */
@mixin box-shadow($value) {
  @include css3-prefix('box-shadow', $value);
}
/* Flex
 * @param {flex-grow flex-shrink flex-basis|auto|initial|inherit} $value - Value
 */
@mixin flex($value) {
  @include css3-prefix('flex', $value);
}
/* Display Flex
 * @param {true|false} $is_important - Is important
 */
@mixin display-flex() {
  display: flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: -khtml-flex;
  display: -webkit-flex;
}
/* Transform
 * @param {none|transform-functions|initial|inherit} $value - Value
 */
@mixin transform($value) {
  @include css3-prefix('transform', $value);
}
/* Transform Rotate
 * @param {number} $value - Value
 */
@mixin transform-rotate($value...) {
  @include css3-prefix('transform', rotate($value));
}
/* Transform Scale
 * @param {number} $value - Value
 */
@mixin transform-scale($value...) {
  @include css3-prefix('transform', scale($value));
}
/* Transform Translate
 * @param {number} $value - Value
 */
@mixin transform-translate($value...) {
  @include css3-prefix('transform', translate($value));
}
/* Transform Translate X
 * @param {number} $value - Value
 */
@mixin transform-translateX($value) {
  @include css3-prefix('transform', translateX($value));
}
/* Transform Translate Y
 * @param {number} $value - Value
 */
@mixin transform-translateY($value) {
  @include css3-prefix('transform', translateY($value));
}
/* Transition
 * @param {css-property duration timing-function|none|initial|inherit} $value - Value
 */
@mixin transition($value) {
  @include css3-prefix('transition', $value);
}
