/* Colors */
$color-cerulean: #00aced;
$color-chambray: #3b5998;
$color-chateau-green: #4bb06b;
$color-deep-cerulean: #0077b5;
$color-dusty-gray: #999;
$color-mine-shaft: #333;
$color-pomegranate: #f44336; 
$color-punch: #db3236;
$color-studio: #8a3ab9;
$color-sunshade: #ffa726;
