/* Colors */
$color-alto: #d3d3d3;
$color-amaranth: #ea4754;
$color-cerulean: #00aced;
$color-chambray: #3b5998;
$color-chateau-green: #4bb06b;
$color-deep-cerulean: #0077b5;
$color-dodger-blue: #2196f3;
$color-dusty-gray: #999;
$color-emperor: #555;
$color-gallery: #eee;
$color-goblin: #377b4d;
$color-limed-spruce: #37474f;
$color-mantis: #5dc060;
$color-mine-shaft: #333;
$color-old-lace: #fefbf7;
$color-outer-space: #263238;
$color-punch: #db3236;
$color-royal-purple: #639;
$color-studio: #8a3ab9;
$color-sunshade: #ffa726;

/* Screen sizes */
$screen-mobile-min: 480px;
$screen-tablet-min: 768px;
$screen-desktop-min: 992px;
$screen-mobile-max: $screen-tablet-min - 1;
$screen-tablet-max: $screen-desktop-min - 1;
