.user-select-wrapper {
  .users-list {
    border: 1px solid $color-dusty-gray;
    margin-bottom: 10px;
    min-height: 20px;
    padding: 4px;
    &[disabled] {
      cursor: not-allowed;
      opacity: 0.6;
      pointer-events: none;
    }
    .user-wrapper {
      cursor: pointer;
      display: inline-block;
      padding: 1px;
      vertical-align: bottom;
      .user {
        align-items: center;
        background-color: $color-dusty-gray;
        border-radius: 12px;
        display: flex;
        flex-shrink: 0;
        font-size: 14px;
        overflow: hidden;
        padding: 3px 7px 3px 3px;
        transition: all 0.2s ease;
        &:hover {
          background-color: $color-punch;
        }
      }
      .avatar {
        margin-right: 5px;
      }
      .user-name {
        color: #fff;
        display: inline;
        max-width: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .user-select {
    position: relative;
    .loading-icon {
      font-size: 17px;
      pointer-events: none;
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
    .react-autosuggest__container {
      position: relative;
    }
    .react-autosuggest__input {
      border: 1px solid $color-dusty-gray;
      box-sizing: border-box;
      font-size: 16px;
      padding: 5px 4px;
      width: 100%;
      &:focus {
        outline: none;
      }
      &[disabled] {
        cursor: not-allowed;
        opacity: 0.6;
        pointer-events: none;
      }
    }
    .react-autosuggest__suggestions-container {
      display: none;
      background-color: #fff;
      border: 1px solid $color-dusty-gray;
      box-sizing: border-box;
      font-size: 16px;
      position: absolute;
      width: 100%;
      z-index: 2;
    }
    .react-autosuggest__container--open .react-autosuggest__suggestions-container {
      display: block;
    }
    .react-autosuggest__suggestions-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .react-autosuggest__suggestion {
      cursor: pointer;
      padding: 10px 20px;
      &:not(:first-child) {
        border-top: 1px solid $color-gallery;
      }
    }
    .react-autosuggest__suggestion--highlighted {
      background-color: $color-primary !important;
      .suggestion-content {
        .user-name.highlight {
          color: #fff;
        }
      }
    }
    .suggestion-content {
      align-items: center;
      display: flex;
      .avatar {
        margin-right: 10px;
      }
      .user-name {
        color: #000;
        &.highlight {
          color: $color-primary;
          font-weight: bold;
        }
      }
    }
  }
}
