# Mongoose
MONGODB_URI=
MONGODB_CHAT_LOUNGE_ID=

# Nodemailer
GMAIL_ACCESS_TOKEN=
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=

# Passport Facebook
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

# Passport GitHub
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Passport Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Passport Instagram
INSTAGRAM_CLIENT_ID=
INSTAGRAM_CLIENT_SECRET=

# Passport LinkedIn
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=

# Passport Twitter
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=

# Session
SESSION_SECRET=
