# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules/

# Dotenv file
.env

# Webpack build
public/build/

# Webstorm files
.idea/

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

