.blocked-users-list-modal {
  max-width: 750px;
  @media screen and (max-width: $screen-mobile-max) {
    max-width: 500px;
  }
  .list-header {
    align-items: center;
    border-bottom: 1px solid $color-alto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
    .search-filter {
      margin: 0;
    }
  }
  .blocked-user {
    align-items: center;
    display: flex;
    font-size: 16px;
    padding: 7px 0;
    &:not(:last-child) {
      border-bottom: 1px solid $color-alto;
    }
    .avatar {
      margin-right: 12px;
    }
    .user-name {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .no-results {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
  }
}
