.search-filter {
  margin-bottom: 10px;
  max-width: 220px;
  padding: 0 5px;
  position: relative;
  .search-icon,
  .clear-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .search-icon {
    left: 10px;
    pointer-events: none;
  }
  .clear-icon {
    cursor: pointer;
    opacity: 0.5;
    padding: 5px 10px;
    right: 5px;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
  .mui-textfield {
    border: 1px solid $color-alto;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    input {
      border: none;
      color: $color-mine-shaft;
      font-size: 16px;
      padding: 3px 30px 3px 24px;
      &::placeholder {
        color: $color-dusty-gray;
      }
    }
  }
}
