.search-filter {
  margin-bottom: 10px;
  max-width: 220px;
  padding: 0 5px;
  position: relative;
  .search-icon {
    left: 10px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .mui-textfield {
    border: 1px solid $color-alto;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    input {
      border: none;
      color: $color-mine-shaft;
      font-size: 16px;
      padding: 3px 5px 3px 24px;
      &::placeholder {
        color: $color-dusty-gray;
      }
    }
  }
}
