extends layout

block style
  link(rel='stylesheet', type='text/css', href='/build/main.bundle.css')

block content
  #root

block script
  script(type='text/javascript', src='/build/main.bundle.js')
