doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='//cdn.muicss.com/mui-0.9.13/css/mui.min.css')
  body
    block content
    script(type='text/javascript', src='//cdn.muicss.com/mui-0.9.13/js/mui.min.js')
    script(type='text/javascript', src='/build/bundle.js')