doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,700')
    link(rel='stylesheet', type='text/css', href='//cdn.muicss.com/mui-0.9.43/css/mui.min.css')
    link(rel='stylesheet', type='text/css', href='//cdn.plyr.io/3.3.20/plyr.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    block style
  body
    block content
    script(type='text/javascript', src='//cdn.muicss.com/mui-0.9.43/js/mui.min.js')
    script(type='text/javascript', src='/scripts/script.js')
    block script
