doctype html
html
    head
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css')
    body
        script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js')