doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= title
        link(rel='stylesheet', type='text/css', href='//cdn.muicss.com/mui-0.9.13/css/mui.min.css')
    body
        form.mui-form
            legend Login
                .mui-textfield.mui-textfield--float-label
                    input(type='text')
                    label Username
                .mui-textfield.mui-textfield--float-label
                    input(type='password')
                    label Password
                button.mui-btn.mui-btn--raised(type='submit') Login
        script(type='text/javascript', src='//cdn.muicss.com/mui-0.9.13/js/mui.min.js')