.auth-form {
  margin: 20px auto;
  max-width: 400px;
  @media screen and (max-width: $screen-mobile-max) {
    margin: 0 auto;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .form-card {
    margin: 0;
    padding: 35px;
    @media screen and (max-width: $screen-mobile-max) {
      box-shadow: none;
      padding: 15px;
    }
    .form-title {
      margin-top: 0;
    }
    .button {
      display: block;
      padding: 0;
      width: 100%;
    }
  }
  .line {
    margin: 15px 0;
  }
}
