body.chat-page {
  overflow: hidden;
}
.chat-section {
  display: flex;
  height: 100vh;
  flex-direction: column;
  & > .header,
  & > .chat-box-wrapper,
  & > .chat-input-wrapper,
  & > .chat-audio-recorder {
    @media screen and (min-width: $screen-tablet-min) {
      margin-left: 250px;
    }
  }
  .header {
    z-index: 999;
    .hamburger-icon {
      @media screen and (min-width: $screen-tablet-min) {
        display: none;
      }
    }
  }
  .bm-menu-wrap {
    z-index: 1000 !important;
  }
  .left-side-drawer-overlay,
  .right-side-drawer-overlay {
    &,
    & + .bm-menu-wrap {
      z-index: 1000 !important;
    }
  }
  .bm-cross-button,
  .bm-burger-button {
    display: none;
  }
  .header {
    flex-shrink: 0;
  }
  .chat-box-wrapper {
    flex: 1;
    max-height: calc(100vh - 129px);
    position: relative;
    @media screen and (max-width: $screen-mobile-max) {
      max-height: calc(100vh - 127px);
    }
    @media screen and (max-width: $screen-small-mobile-max) {
      max-height: calc(100vh - 121px);
    }
    &.audio-recorder-open {
      max-height: calc(100vh - 184px);
      @media screen and (max-width: $screen-mobile-max) {
        max-height: calc(100vh - 172px);
      }
      @media screen and (max-width: $screen-small-mobile-max) {
        max-height: calc(100vh - 166px);
      }
    }
  }
  .chat-popup-window-wrapper {
    bottom: 0;
    left: 0;
    margin: 12px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    .chat-popup-window {
      pointer-events: auto;
    }
  }
  .chat-input-wrapper,
  .chat-audio-recorder {
    flex-shrink: 0;
  }
}
