.chat-input {
  align-items: center;
  background-color: $color-gallery;
  display: flex;
  flex-shrink: 0;
  position: relative;
  .textfield[contenteditable=true],
  .extra-buttons,
  .emoji-dialog,
  .send-button {
    z-index: 2;
  }
  .textfield[contenteditable=true] {
    appearance: textfield;
    border: 0;
    color: #000;
    cursor: text;
    flex: 19;
    font-size: 15px;
    line-height: 24px;
    overflow-x: auto;
    padding: 10px 27px;
    user-select: text;
    @media screen and (max-width: $screen-mobile-max) {
      padding: 10px;
    }
    &:empty:before {
      color: $color-dusty-gray;
      content: attr(placeholder);
      display: inline;
    }
    &:focus {
      outline: none;
    }
    &.single-line {
      overflow: hidden;
      white-space: nowrap;
      br {
        display: none;
      }
      * {
        display: inline;
        white-space: nowrap;
      }
    }
    .emojione {
      $emoji-size: 24px;
      height: $emoji-size;
      vertical-align: bottom;
      width: $emoji-size;
    }
  }
  .emoji-dialog {
    border-radius: 0;
    bottom: 103%;
    box-shadow: 0 5px 5px -5px #000;
    height: 300px !important;
    position: absolute;
    right: 0;
    width: 100% !important;
    @media screen and (min-width: $screen-mobile-min) {
      width: 350px !important;
      right: 20px;
    }
    .emoji-dialog-header {
      ul {
        display: flex;
        justify-content: space-between;
      }
    }
    .emoji-row {
      display: flex;
      justify-content: space-between;
    }
    .emoji {
      outline: none !important;
      .emojione {
        $emoji-size: 22px;
        height: $emoji-size;
        width: $emoji-size;
      }
    }
  }
  .emoji-picker-overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .extra-buttons {
    display: flex;
    flex: 0 0 50px;
    margin-right: 10px;
    .image-button,
    .file-button,
    .emoji-button {
      backface-visibility: hidden;
      color: #000;
      cursor: pointer;
      margin: 0;
      padding: 10px;
      text-align: center;
      transition: all 0.3s ease;
      @media screen and (max-width: $screen-mobile-max) {
        padding: 5px;
      }
      &:active,
      &:focus,
      &:hover {
        box-shadow: none;
      }
      &:hover {
        color: $color-royal-purple;
      }
    }
    .image-button {
      align-items: center;
      display: flex;
      font-size: 12px;
    }
    .file-button {
      transform: rotate(180deg) scaleX(-1);
      &:hover {
        transform: rotate(180deg) scaleX(-1) scale(1.25);
      }
    }
    .image-button,
    .emoji-button {
      &:hover {
        transform: scale(1.25);
      }
    }
  }
  .send-button {
    align-items: center;
    background-color: $color-royal-purple;
    border-radius: 0;
    color: #fff;
    display: flex;
    flex: 0 0 90px;
    height: 65px;
    justify-content: center;
    margin: 0;
    position: relative;
    @media screen and (max-width: $screen-mobile-max) {
      flex: 0 0 70px;
    }
    &:active,
    &:focus,
    &:hover {
      box-shadow: none;
    }
  }
}
