.not-found {
  $shadow: long-shadow(200, 33, 140, 130, 38, 166, 154);
  align-items: center;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  .title {
    color: #fff;
    font-size: 200px;
    line-height: 200px;
    margin-bottom: 50px;
    margin-top: 0;
    text-shadow: $shadow;
    @media screen and (max-width: $screen-mobile-max) {
      font-size: 140px;
      line-height: 140px;
      margin-bottom: 0;
    }
  }
  .content {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    @media screen and (max-width: $screen-mobile-max) {
      margin-bottom: 0;
    }
  }
  .button {
    box-shadow: $shadow;
  }
}
