.new-messages-dropdown-chat-room {
  align-items: center;
  color: #000;
  cursor: pointer;
  display: flex;
  padding: 5px;
  transition: all 0.2s ease-in-out;
  &:not(:last-child) {
    border-bottom: 1px solid $color-alto;
  }
  &:hover {
    background-color: $color-primary;
    color: #fff;
  }
  .avatar {
    margin-right: 14px;
  }
  .chat-room-name {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
