.new-messages-dropdown-chat-room {
  align-items: center;
  color: #000;
  cursor: pointer;
  display: flex;
  padding: 5px 10px;
  transition: all 0.2s ease-in-out;
  &:not(:last-child) {
    border-bottom: 1px solid $color-alto;
  }
  &:hover {
    background-color: $color-primary;
    color: #fff;
    .clear-icon {
      width: 15px;
    }
  }
  .avatar {
    margin-right: 14px;
  }
  .chat-room-name {
    flex: 1;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .notification-count {
    margin-left: 3px;
  }
  .clear-icon {
    color: $color-mine-shaft;
    margin-left: 5px;
    opacity: 0.5;
    overflow-x: hidden;
    transition: all 0.2s ease;
    width: 0;
    &:hover {
      opacity: 1;
    }
  }
}
