.table {
  min-height: 50px;
  position: relative;
  .search-filter-wrapper,
  .pagination-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  .table-data {
    align-items: center;
    display: flex;
    .avatar {
      margin-right: 10px;
    }
  }
}
