html,
body {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background-color: rgba(21, 21, 21, 0.2);
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: #0b6621;
  border-radius: 5px;
}
body.chat-page {
  overflow: hidden;
}
.loading-bar {
  height: 3px;
  background-color: #fe9c43;
  position: fixed;
  z-index: 9999;
}
