.auth-form {
  margin: 20px auto;
  max-width: 400px;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .form-card {
    padding: 35px;
  }
  .error-card {
    p {
      color: #fff;
      margin-bottom: 0;
    }
  }
  .line {
    margin: 15px 0;
  }
  .error-input {
    input {
      border-bottom-color: $color-pomegranate;
    }
    label {
      color: $color-pomegranate !important;
    }
  }
}
