.chat-section {
  display: flex;
  height: 100vh;
  flex-direction: column;
  .header,
  .chat-box,
  .chat-input,
  .chat-audio-recorder {
    padding-left: 0;
    @media screen and (min-width: $screen-tablet-min) {
      margin-left: 250px;
    }
  }
  .header {
    z-index: 3;
  }
  .bm-menu-wrap {
    z-index: 4 !important;
  }
  .left-side-drawer-overlay {
    &,
    & + .bm-menu-wrap {
      z-index: 4 !important;
    }
  }
  .right-side-drawer-overlay {
    &,
    & + .bm-menu-wrap {
      z-index: 5 !important;
    }
  }
  .bm-cross-button,
  .bm-burger-button {
    display: none;
  }
  .header {
    flex-shrink: 0;
  }
  .chat-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    max-height: calc(100vh - 135px);
    position: relative;
    @media screen and (max-width: $screen-mobile-max) {
      max-height: calc(100vh - 127px);
    }
    &.audio-recorder-open {
      max-height: calc(100vh - 190px);
      @media screen and (max-width: $screen-mobile-max) {
        max-height: calc(100vh - 182px);
      }
    }
    .chat-bubbles {
      overflow-x: hidden;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $color-mine-shaft;
        border-radius: 5px;
      }
    }
    .user-no-chat-rooms {
      font-size: 21px;
      left: 50%;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .mui-container-fluid {
      padding: 15px 5px;
      @media screen and (min-width: $screen-tablet-min) {
        padding: 15px;
      }
    }
    .chat-no-messages {
      font-size: 17px;
      font-weight: 700;
      text-align: center;
    }
    .chat-typers {
      display: flex;
      margin-top: 15px;
    }
  }
  .chat-input,
  .chat-audio-recorder {
    flex-shrink: 0;
  }
}
