.button {
  color: #fff;
  &:active,
  &:focus,
  &:hover {
    color: #fff;
  }
  &.button-default {
    background-color: $color-alto;
    color: #000;
  }
  &.button-primary {
    background-color: $color-primary;
  }
}
.mm-popup__box__footer {
  padding: 20px !important;
}
