html,
body {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
.loading-bar {
  height: 3px;
  background-color: $color-seance;
  position: fixed;
  z-index: 9999;
}
.button {
  &.button-default {
    @include button($color-alto, #000);
  }
  &.button-primary {
    @include button($color-primary);
  }
  &.button-danger {
    @include button($color-torch-red);
  }
}
.mui-btn {
  &.disabled {
    box-shadow: none;
    cursor: not-allowed;
    opacity: .6;
    pointer-events: none;
  }
}
.mm-popup__box__footer {
  padding: 20px !important;
}
.dropdown-menu {
  $transition: all 0.2s ease-in-out;
  &.has-pointer {
    &:before {
      border-color: transparent transparent #fff transparent;
      border-style: solid;
      border-width: 0 8px 8px 8px;
      content: '';
      height: 0;
      position: absolute;
      right: 10px;
      top: -8px;
      width: 0;
    }
  }
  a {
    transition: $transition;
    &:hover {
      background-color: $color-primary !important;
      &,
      .option-icon {
        color: #fff !important;
      }
    }
  }
  .option-icon {
    color: $color-primary;
    display: inline-block;
    margin-right: 5px;
    width: 21px;
    transition: $transition;
  }
}
