.login-form,
.register-form {
  margin: 20px auto;
  max-width: 400px;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .form-card {
    padding: 35px;
  }
  .error-card {
    p {
      color: #fff;
      margin-bottom: 0;
    }
  }
  .button {
    color: #fff;
    padding: 0;
    width: 100%;
    position: relative;
    display: block;
    &.button-login {
      background-color: $color-chateau-green;
    }
    &.button-facebook {
      background-color: $color-chambray;
    }
    &.button-google {
      background-color: $color-punch;
    }
    &.button-twitter {
      background-color: $color-cerulean;
    }
    &.button-instagram {
      background-color: $color-studio;
    }
    &.button-linkedin {
      background-color: $color-deep-cerulean;
    }
    &.button-github {
      background-color: $color-mine-shaft;
    }
    &.button-register {
      background-color: $color-sunshade;
    }
  }
  .icon {
    border-right: 1px solid $color-dusty-gray;
    display: inline-table;
    float: left;
    height: 100%;
    width: 45px;
    span {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
  }
  .line {
    margin: 15px 0;
  }
  .error-input {
    input {
      border-bottom-color: $color-pomegranate;
    }
    label {
      color: $color-pomegranate !important;
    }
  }
}
