.header {
  .options-dropdown {
    a {
      cursor: pointer;
    }
    button {
      background-color: transparent;
      box-shadow: none;
      color: #fff;
    }
    .icon {
      vertical-align: middle;
    }
  }
}