.header {
  .side-bar-toggler {
    h1 {
      display: inline;
    }
    .icon {
      cursor: pointer;
      margin-right: 10px;
    }
  }
  .options-dropdown {
    a {
      cursor: pointer;
    }
    button {
      background-color: transparent;
      box-shadow: none;
      color: #fff;
      margin-left: 10px;
    }
    .icon {
      vertical-align: middle;
    }
  }
}