.add-chat-room-modal {
  border-radius: 0 !important;
  .modal-title {
    margin-top: 0;
  }
  .modal-button {
    background-color: $color-chateau-green;
    color: #fff;
    display: block;
    padding: 0;
    width: 100%;
    position: relative;
  }
}