.right-side-drawer-wrapper {
  background-color: $color-limed-spruce;
  color: #fff;
  height: 100%;
  position: fixed;
  top: 0;
  width: 250px;
  .right-side-drawer {
    display: flex;
    flex-direction: column;
    height: 100%;
    .members-count {
      align-items: center;
      display: flex;
      flex-shrink: 1;
      margin: 0;
      padding: 15px;
      h3 {
        margin: 0;
      }
      .user-icon {
        margin-right: 5px;
        margin-top: 1px;
      }
    }
    .member-list {
      flex: 1;
      overflow-x: hidden;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-track {
        background-color: rgba($color-mine-shaft, 0.2);
        border-radius: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $color-mine-shaft;
        border-radius: 5px;
      }
    }
  }
}
