.delete-user-modal {
  min-height: 70px;
  position: relative;
  .avatar-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .user-name {
    font-weight: bold;
  }
}
