.chat-room-member {
  align-items: center;
  border-bottom: 1px solid $color-outer-space;
  display: flex;
  font-size: 14px;
  padding: 3px 0;
  position: relative;
  transition: all 0.2s ease;
  &:active,
  &:focus,
  &:hover {
    background-color: $color-outer-space;
  }
  .online-indicator {
    color: $color-dusty-gray;
    font-size: 10px;
    margin: 0 5px;
    &.online {
      color: $color-mantis;
    }
  }
  .member-icon {
    $image-size: 23px;
    background-size: $image-size;
    border-radius: 50%;
    flex: 0 0 $image-size;
    height: $image-size;
    margin-right: 12px;
    position: relative;
    width: $image-size;
  }
  .member-name {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .you-label {
      color: $color-alto;
      margin-left: 7px;
    }
  }
  .member-options-button-wrapper {
    width: 30px;
  }
  .member-options-button {
    cursor: pointer;
    color: $color-dusty-gray;
    opacity: 0;
    text-align: center;
    transition: all 0.2s ease;
  }
  &:hover {
    .member-options-button {
      opacity: 1;
    }
  }
}
