.notifications-wrapper {
  .notification {
    background-color: #fff !important;
    border-radius: 0 !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12) !important;
    padding: 10px 20px 10px 10px !important;
    &.notification-success {
      border-top: 3px solid $color-limeade !important;
    }
    &.notification-error {
      border-top: 3px solid $color-torch-red !important;
    }
  }
  .notification-title {
    color: #000 !important;
  }
  .notification-dismiss {
    background-color: transparent !important;
    color: #000 !important;
  }
  .notification-action-button {
    background-color: $color-primary !important;
    cursor: pointer;
  }
}
