.chat-box-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: calc(100vh - 129px);
  position: relative;
  @media screen and (max-width: $screen-mobile-max) {
    max-height: calc(100vh - 127px);
  }
  @media screen and (max-width: $screen-small-mobile-max) {
    max-height: calc(100vh - 121px);
  }
  &.audio-recorder-open {
    max-height: calc(100vh - 184px);
    @media screen and (max-width: $screen-mobile-max) {
      max-height: calc(100vh - 172px);
    }
    @media screen and (max-width: $screen-small-mobile-max) {
      max-height: calc(100vh - 166px);
    }
  }
  .chat-box {
    @include scrollbar($color-mine-shaft);
    overflow-x: hidden;
    overflow-y: auto;
    &.loading {
      height: 100%;
    }
  }
  .user-no-chat-rooms {
    font-size: 21px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .mui-container-fluid {
    padding: 15px 5px 15px 15px;
    @media screen and (max-width: $screen-mobile-max) {
      padding: 15px 5px;
    }
  }
  .loading-icon {
    color: $color-emperor;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  .chat-no-messages {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
  }
  .chat-typers {
    display: flex;
    margin-top: 15px;
  }
}
