.chat-box-container {
  display: flex;
  flex-direction: column;
  height: 100% !important;
  justify-content: flex-end;
}
.chat-box {
  @include scrollbar($color-mine-shaft);
  overflow-x: hidden;
  overflow-y: auto;
  &.loading {
    height: 100%;
  }
  &.small {
    .mui-container-fluid {
      padding: 5px 5px 15px;
    }
    .loading-icon {
      font-size: 7px;
    }
    .chat-no-messages {
      font-size: 12px;
    }
    .chat-typers {
      margin-top: 0;
    }
  }
  .user-no-chat-rooms {
    font-size: 21px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    p {
      margin-bottom: 10px;
    }
  }
  .mui-container-fluid {
    padding: 15px 5px 15px 15px;
    width: 100%;
    @media screen and (max-width: $screen-mobile-max) {
      padding: 15px 5px;
    }
  }
  .loading-icon {
    color: $color-emperor;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  .chat-no-messages {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
  }
  .chat-typers {
    display: flex;
    margin-top: 15px;
    @media screen and (max-width: $screen-mobile-max) {
      margin-top: 0;
    }
  }
}
