.skeleton {
  animation: 'shine' 1.5s infinite ease-out;
  background-color: $color-silver;
  background-image: linear-gradient(
    to right,
    $color-silver 0%,
    $color-gallery 20%,
    $color-silver 40%,
    $color-silver 100%
  );
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 500px 100%;
  border-radius: 7px;
}
