.chat-room {
  @include display-flex();
  @include transition(all 0.2s ease);
  align-items: center;
  border-bottom: 1px solid $color-goblin;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 15px;
  &:active,
  &:focus,
  &:hover {
    background-color: $color-goblin;
  }
  .chat-room-icon {
    $image-size: 25px;
    background-size: $image-size;
    border-radius: 50%;
    height: $image-size;
    margin-right: 10px;
    width: $image-size;
  }
  .chat-room-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 180px;
  }
}
.add-chat-room-modal {
  border-radius: 0 !important;
  .modal-title {
    margin-top: 0;
  }
  .members-list {
    border: 1px solid $color-dusty-gray;
    color: $color-dusty-gray;
    font-size: 16px;
    margin-bottom: 10px;
    min-height: 20px;
    padding: 4px;
    .member-wrapper {
      display: inline-block;
      padding: 1px;
    }
    .member {
      @include display-flex();
      align-items: center;
      background-color: $color-dusty-gray;
      border-radius: 12px;
      flex-shrink: 0;
      font-size: 14px;
      overflow: hidden;
      padding: 3px;
      width: 100px;
    }
    .member-image {
      $image-size: 20px;
      @include flex(0 0 $image-size);
      background-size: $image-size;
      border-radius: 50%;
      margin-right: 5px;
      height: $image-size;
      width: $image-size;
    }
    .member-name {
      color: #fff;
      display: inline;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 70px;
      white-space: nowrap;
    }
  }
  .react-autosuggest__container {
    margin-bottom: 20px;
    position: relative;
  }
  .react-autosuggest__input {
    border: 1px solid $color-dusty-gray;
    box-sizing: border-box;
    font-size: 16px;
    padding: 5px 4px;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  .react-autosuggest__suggestions-container {
    display: none;
  }
  .react-autosuggest__container--open .react-autosuggest__suggestions-container {
    background-color: #fff;
    border: 1px solid $color-dusty-gray;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  .react-autosuggest__suggestions-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
    &:not(:first-child) {
      border-top: 1px solid $color-gallery;
    }
  }
  .react-autosuggest__suggestion--highlighted {
    background-color: $color-dodger-blue !important;
    .suggestion-content {
      .user-name.highlight {
        color: #fff;
      }
    }
  }
  .suggestion-content {
    @include display-flex();
    align-items: center;
    .user-image {
      $image-size: 27px;
      background-size: $image-size;
      border-radius: 50%;
      height: $image-size;
      margin-right: 10px;
      width: $image-size;
    }
    .user-name {
      color: #000;
      &.highlight {
        color: $color-dodger-blue;
        font-weight: bold;
      }
    }
  }
  .modal-toggle {
    margin-bottom: 20px;
    .react-toggle {
      margin-right: 8px;
      vertical-align: middle;
    }
  }
  .modal-button {
    background-color: $color-chateau-green;
    color: #fff;
    display: block;
    padding: 0;
    width: 100%;
    position: relative;
  }
}
