.chat-room-member-filter {
  margin-bottom: 10px;
  padding: 0 5px;
  .mui-textfield {
    border: 1px solid #fff;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    input {
      border: none;
      color: #fff;
      padding: 10px;
      &::placeholder {
        color: $color-dusty-gray;
      }
    }
  }
}
