.modal {
  max-width: 500px;
  padding: 0;
  width: 100%;
  &.modal-danger {
    .close-button {
      svg path {
        fill: #fff;
      }
    }
  }
  .close-button {
    cursor: pointer;
    opacity: 0.5;
    padding: 6px;
    right: 5px;
    top: 5px;
    transition: all 0.2s ease;
    &:focus {
      outline: none;
    }
    &:hover {
      opacity: 1;
    }
    svg {
      height: 20px;
      width: 20px;
    }
  }
}
