.chat-section {
  display: flex;
  height: 100vh;
  flex-direction: column;
  .header,
  .chat-box-wrapper,
  .chat-input,
  .chat-audio-recorder {
    padding-left: 0;
    @media screen and (min-width: $screen-tablet-min) {
      margin-left: 250px;
    }
  }
  .header {
    z-index: 3;
    .hamburger-icon {
      @media screen and (min-width: $screen-tablet-min) {
        display: none;
      }
    }
  }
  .bm-menu-wrap {
    z-index: 4 !important;
  }
  .left-side-drawer-overlay {
    &,
    & + .bm-menu-wrap {
      z-index: 4 !important;
    }
  }
  .right-side-drawer-overlay {
    &,
    & + .bm-menu-wrap {
      z-index: 5 !important;
    }
  }
  .bm-cross-button,
  .bm-burger-button {
    display: none;
  }
  .header {
    flex-shrink: 0;
  }
  .chat-input,
  .chat-audio-recorder {
    flex-shrink: 0;
  }
}
