.options-dropdown {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  button {
    &,
    &:active,
    &:focus,
    &:hover {
      background-color: transparent;
      box-shadow: none;
      color: #fff;
    }
  }
  .icon {
    vertical-align: middle;
  }
  .user-details {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    & > div {
      margin: 0 6px;
    }
  }
}
