.options-dropdown {
  @include display-flex();
  align-items: center;
  justify-content: flex-end;
  a {
    cursor: pointer;
  }
  button {
    &,
    &:active,
    &:focus,
    &:hover {
      background-color: transparent;
      box-shadow: none;
      color: #fff;
    }
  }
  .icon {
    vertical-align: middle;
  }
  .user-details {
    @include display-flex();
    align-items: center;
    justify-content: flex-end;
    margin-right: 5px;
    & > div {
      margin: 0 5px;
    }
  }
  .user-picture {
    $image-size: 25px;
    @include flex(0 0 $image-size);
    background-repeat: no-repeat;
    background-size: $image-size;
    border-radius: 50%;
    height: $image-size;
    width: $image-size;
  }
}
