.options-dropdown {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  button {
    &,
    &:active,
    &:focus,
    &:hover {
      background-color: transparent;
      box-shadow: none;
      color: #fff;
    }
  }
  .icon {
    vertical-align: middle;
  }
  .user-details {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    & > div {
      margin: 0 7px;
    }
  }
  .user-picture {
    $image-size: 25px;
    background-repeat: no-repeat;
    background-size: $image-size;
    border-radius: 50%;
    flex: 0 0 $image-size;
    height: $image-size;
    position: relative;
    width: $image-size;
  }
}
