.add-chat-room-modal {
  border-radius: 0 !important;
  left: 50% !important;
  max-width: 700px;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 65% !important;
  .modal-title {
    margin-top: 0;
  }
  .members-list {
    border: 1px solid $color-dusty-gray;
    margin-bottom: 10px;
    min-height: 20px;
    padding: 4px;
    &[disabled] {
      cursor: not-allowed;
      opacity: 0.6;
      pointer-events: none;
    }
  }
  .modal-button {
    background-color: $color-primary;
    color: #fff;
    display: block;
    padding: 0;
    width: 100%;
    position: relative;
  }
}
