.chat-rooms-list-wrapper {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  .chat-rooms-options {
    align-items: center;
    box-shadow: none;
    display: flex;
    padding: 10px 15px;
    transition: all 0.3s ease;
    h3 {
      flex: 1;
      margin: 0;
    }
    .door-icon {
      color: $color-primary;
      margin-right: 5px;
      margin-top: 1px;
    }
    .plus-icon {
      color: $color-alto;
      cursor: pointer;
      font-size: 21px;
      transition: all 0.1s ease-in-out;
      &:hover {
        color: $color-primary;
        transform: scale(1.5);
      }
    }
  }
  .chat-rooms-list {
    @include scrollbar($color-dusty-gray, rgba($color-dusty-gray, 0.2));
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    .no-results {
      font-size: 16px;
      padding: 5px;
      text-align: center;
    }
  }
}
