.new-messages-dropdown-wrapper {
  $transition: all 0.2s ease-in-out;
  margin-right: 5px;
  .new-messages-dropdown {
    .message-icon {
      color: #fff;
      cursor: pointer;
      font-size: 17px;
      padding: 10px;
      transition: $transition;
      &:hover {
        color: $color-mine-shaft;
      }
    }
    .notification-count {
      position: absolute;
      right: 2px;
      top: 3px;
    }
  }
  .dropdown-menu {
    .dropdown-chat-rooms-list {
      @include scrollbar($color-mine-shaft, rgba($color-mine-shaft, 0.2));
      max-height: 250px;
      overflow-x: hidden;
      overflow-y: auto;
      width: 230px;
    }
    .clear-all-button {
      align-items: center;
      background-color: #fff;
      color: $color-torch-red;
      cursor: pointer;
      display: flex;
      font-size: 15px;
      font-weight: bold;
      justify-content: center;
      padding: 5px 15px;
      transition: $transition;
      &:hover {
        background-color: $color-torch-red;
        color: #fff;
      }
      .trash-icon {
        margin-right: 5px;
      }
    }
    .no-new-messages {
      color: #000;
      font-size: 14px;
      font-weight: bold;
      padding: 5px;
      text-align: center;
    }
  }
}
