.table-wrapper {
  min-height: 50px;
  position: relative;
  .search-filter-wrapper,
  .pagination-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  .table {
    @include scrollbar($color-mine-shaft, transparent, 'x');
    overflow-x: auto;
  }
  .actions-column {
    text-align: center;
  }
  .no-items-row {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
  }
  .table-data {
    align-items: center;
    display: flex;
    .avatar {
      margin-right: 10px;
    }
  }
  .data-actions {
    display: flex;
    justify-content: center;
  }
}
