.radio-button {
  input {
    display: none;
    opacity: 0;
    position: absolute;
    &:hover {
      & + label:before {
        background-color: $color-primary;
      }
    }
    &:focus {
      & + label:before {
        outline: none;
      }
    }
    &:checked {
      & + label:before {
        background-color: $color-primary;
        box-shadow: inset 0 0 0 3px #fff;
      }
    }
    &:disabled {
      & + label {
        color: $color-alto;
        cursor: not-allowed;
        &:before {
          background-color: $color-dusty-gray;
        }
      }
    }
  }
  label {
    $size: 17px;
    cursor: pointer;
    padding: 0;
    position: relative;
    &:before {
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid $color-dusty-gray;
      content: '';
      display: inline-block;
      height: $size;
      margin-right: 10px;
      text-align: center;
      transition: all 0.3s ease;
      vertical-align: middle;
      width: $size;
    }
  }
}
