.chat-popup-window {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
  display: flex;
  flex-direction: column;
  height: 350px;
  position: absolute;
  width: 300px;
  z-index: 400;
  @for $i from 0 to 5 {
    &:nth-child(#{$i + 1}) {
      left: #{$i * 15}px;
      top: #{$i * 15}px;
    }
  }
  &.active {
    z-index: 500;
  }
  .popup-header {
    align-items: center;
    background-color: $color-primary;
    color: #fff;
    cursor: all-scroll;
    display: flex;
    font-size: 15px;
    padding: 7px 0 7px 10px;
    .avatar {
      margin-right: 12px;
    }
    .chat-room-name {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      .you-label {
         color: $color-alto;
         margin-left: 7px;
      }
    }
    .close-icon {
      color: $color-mine-shaft;
      cursor: pointer;
      opacity: 0.5;
      padding: 0 10px;
      transition: all 0.2s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }
  .popup-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 251px;
    position: relative;
    &.audio-recorder-open {
      max-height: 221px;
    }
  }
  .popup-footer {
    .emoji-dialog {
      box-shadow: none;
      height: 251px !important;
    }
  }
}
