.video-call-window {
  align-items: center;
  background-color: $color-primary;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1500;
  .remote-video {
    height: 90%;
    width: 90%;
    @media screen and (max-width: $screen-mobile-max) {
      height: 100%;
      width: 100%;
    }
  }
  .local-video {
    height: auto;
    position: absolute;
    right: 15px;
    top: 30px;
    width: 180px;
    @media screen and (max-width: $screen-mobile-max) {
      width: 100px;
    }
  }
  .video-call-controls {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    &:hover {
      .video-call-button {
        opacity: 1;
      }
    }
    .video-call-button {
      $size: 50px;
      align-items: center;
      border: 2px solid;
      border-radius: 50%;
      color: #fff;
      cursor: pointer;
      display: flex;
      height: $size;
      justify-content: center;
      margin: 0 20px;
      opacity: 0;
      transition: all 0.3s cubic-bezier(0.1, 0.9, 0.5, 1);
      width: $size;
      @media screen and (max-width: $screen-mobile-max) {
        opacity: 1;
      }
      &:hover {
        background-color: transparent;
      }
    }
    .end-call-button {
      background-color: $color-torch-red;
      border-color: $color-torch-red;
      transform: rotate(-135deg);
      &:hover {
        color: $color-torch-red;
      }
    }
  }
}
