.avatar-uploader-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  .avatar-uploader {
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    @media screen and (max-width: $screen-mobile-max) {
      margin-top: 10px;
      position: relative;
    }
    input {
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      width: 0.1px;
      z-index: -1;
    }
    .change-avatar-cover {
      $size: 120px;
      background-color: #000;
      color: #fff;
      cursor: pointer;
      align-items: center;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      font-size: 16px;
      height: $size;
      justify-content: center;
      opacity: 0;
      transition: all 0.2s ease;
      width: $size;
      &:hover {
        opacity: 0.8;
      }
      &.disabled {
        cursor: not-allowed;
        pointer-events: none;
      }
      .camera-icon {
        font-size: 23px;
      }
    }
    .change-avatar-button {
      height: 31px;
      &.disabled {
        box-shadow: none;
        cursor: not-allowed;
        opacity: 0.6;
        pointer-events: none;
      }
    }
    .remove-avatar-button {
      $size: 25px;
      align-items: center;
      background-color: $color-torch-red;
      border-radius: 50%;
      bottom: 0;
      color: #fff;
      cursor: pointer;
      display: flex;
      height: $size;
      justify-content: center;
      left: 0;
      position: absolute;
      width: $size;
      .remove-icon {
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }
  }
}
