body.admin-page {
  overflow: hidden;
}
.admin-section {
  display: flex;
  height: 100vh;
  flex-direction: column;
  .header,
  .admin-content {
    @media screen and (min-width: $screen-tablet-min) {
      margin-left: 250px;
    }
  }
  .header {
    flex-shrink: 0;
    z-index: 3;
    .hamburger-icon {
      @media screen and (min-width: $screen-tablet-min) {
        display: none;
      }
    }
    .page-title {
      font-size: 22px;
    }
  }
  .bm-menu-wrap {
    z-index: 4 !important;
  }
  .left-side-drawer-overlay {
    &,
    & + .bm-menu-wrap {
      z-index: 4 !important;
    }
  }
  .bm-cross-button,
  .bm-burger-button {
    display: none;
  }
  .admin-content {
    @include scrollbar($color-mine-shaft);
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px;
  }
}
