.chat-bubble-wrapper {
  display: flex;
  padding: 2px;
  &.reverse {
    flex-direction: row-reverse;
    .chat-message {
      flex-direction: row-reverse;
    }
  }
  .chat-details {
    max-width: 90%;
    @media screen and (min-width: $screen-tablet-min) {
      max-width: 75%;
    }
  }
  .uploading-icon {
    margin: 10px;
  }
  .chat-bubble {
    $bg-color: $color-dusty-gray;
    background-color: $bg-color;
    border-radius: 8px;
    margin-left: 10px;
    position: relative;
    word-wrap: break-word;
    &:after {
      border-color: $bg-color transparent transparent transparent;
      border-style: solid;
      border-width: 12px;
      bottom: auto;
      content: '';
      left: -8px;
      position: absolute;
      right: auto;
      text-align: left;
      top: 0;
    }
    &.right {
      $bg-color: $color-dodger-blue;
      background-color: $bg-color;
      margin-left: 0;
      margin-right: 0;
      &:after {
        content: none;
      }
    }
    .chat-text {
      color: #fff;
      font-size: 14px;
      padding: 11px 17px;
      word-break: break-all;
      @media screen and (max-width: $screen-mobile-max) {
        font-size: 12px;
        padding: 9px 12px;
      }
      a {
        color: #fff;
      }
      span {
        margin-top: 3px !important;
      }
      .file-icon {
        display: inline;
        margin-right: 5px;
        vertical-align: middle;
      }
      .plyr {
        min-width: 100px;
        .plyr__controls {
          background-color: transparent;
          padding: 0;
          width: 180px;
          @media screen and (max-width: $screen-mobile-max) {
            width: 150px;
          }
          button[data-plyr="mute"],
          .plyr__volume,
          .plyr__menu {
            display: none;
          }
          .plyr__control {
            color: #fff;
            padding: 4px;
            margin-right: -5px;
            &:hover {
              background-color: #fff;
              color: #000;
            }
            svg {
              height: 14px;
              width: 14px;
            }
          }
          .plyr__progress {
            input {
              color: #fff;
            }
          }
          .plyr__time {
            background-color: #fff;
            border-radius: 12px;
            color: #000;
            font-size: 11px;
            min-width: 40px;
            text-align: center;
          }
        }
      }
    }
  }
  .chat-image {
    margin-left: 10px;
    &.right {
      margin-left: 0;
    }
    .image-message {
      background-color: $color-gallery;
      border: 1px solid $color-alto;
      border-radius: 8px;
      cursor: pointer;
      height: auto;
      width: 100%;
    }
  }
  .avatar {
    margin-top: 15px;
    @media screen and (max-width: $screen-mobile-max) {
      $image-size: 25px;
      background-size: $image-size !important;
      flex: 0 0 $image-size !important;
      height: $image-size !important;
      width: $image-size !important;
    }
  }
  .chat-user-name {
    color: #000;
    font-size: 11px;
    height: 15px;
    line-height: 15px;
    margin-left: 10px;
  }
  .chat-message {
    display: flex;
    flex-direction: row;
  }
  .chat-time {
    align-self: flex-end;
    color: #000;
    font-size: 11px;
    margin: 0 4px 2px;
    white-space: nowrap;
  }
}
