.chat-bubble-wrapper {
  display: flex;
  padding: 2px;
  &.reverse {
    flex-direction: row-reverse;
    .chat-message {
      flex-direction: row-reverse;
    }
  }
  .chat-details {
    max-width: 90%;
    @media screen and (min-width: $screen-tablet-min) {
      max-width: 75%;
    }
  }
  .uploading-icon {
    margin: 10px;
  }
  .chat-bubble {
    $bg-color: $color-dusty-gray;
    background-color: $bg-color;
    border-radius: 21px;
    margin-left: 25px;
    position: relative;
    word-wrap: break-word;
    &:after {
      border: 21px solid;
      border-color: transparent $bg-color;
      border-width: 10px 20px 10px 0;
      bottom: auto;
      content: '';
      left: -17px;
      position: absolute;
      right: auto;
      text-align: left;
      top: 11px;
    }
    &.right {
      $bg-color: $color-dodger-blue;
      background-color: $bg-color;
      margin-left: 0;
      margin-right: 0;
      &:after {
        content: none;
      }
    }
    .chat-text {
      color: #fff;
      font-size: 14px;
      padding: 11px 17px;
      word-break: break-all;
      a {
        color: #fff;
      }
      span {
        margin-top: 3px !important;
      }
      .file-icon {
        display: inline;
        margin-right: 5px;
        vertical-align: middle;
      }
    }
  }
  .chat-image {
    margin-left: 10px;
    &.right {
      margin-left: 0;
    }
    .image-message {
      background-color: $color-gallery;
      border: 1px solid $color-alto;
      border-radius: 21px;
      height: auto;
      width: 100%;
    }
  }
  .avatar {
    margin-top: 19px;
  }
  .chat-user-name {
    color: $color-dusty-gray;
    font-size: 11px;
    margin-left: 40px;
  }
  .chat-message {
    display: flex;
    flex-direction: row;
  }
  .chat-time {
    align-self: flex-end;
    color: #000;
    font-size: 11px;
    margin: 0 4px 2px;
  }
}
