.chat-bubble-wrapper {
  display: flex;
  padding: 2px;
  &.reverse {
    flex-direction: row-reverse;
    .chat-message {
      flex-direction: row-reverse;
    }
  }
  .chat-details {
    max-width: 90%;
    @media screen and (min-width: $screen-tablet-min) {
      max-width: 75%;
    }
  }
  .uploading-icon {
    margin: 10px;
  }
  .chat-bubble {
    $bg-color: $color-dusty-gray;
    background-color: $bg-color;
    border-radius: 8px;
    margin-left: 10px;
    position: relative;
    word-wrap: break-word;
    &:after {
      border-color: $bg-color transparent transparent transparent;
      border-style: solid;
      border-width: 12px;
      bottom: auto;
      content: '';
      left: -8px;
      position: absolute;
      right: auto;
      text-align: left;
      top: 0;
    }
    &.right {
      $bg-color: $color-dodger-blue;
      background-color: $bg-color;
      margin-left: 0;
      margin-right: 0;
      &:after {
        content: none;
      }
    }
    .chat-text {
      color: #fff;
      font-size: 14px;
      padding: 11px 17px;
      word-break: break-all;
      @media screen and (max-width: $screen-mobile-max) {
        font-size: 12px;
        padding: 9px 12px;
      }
      a {
        color: #fff;
      }
      span {
        margin-top: 3px !important;
      }
      .file-icon {
        display: inline;
        margin-right: 5px;
        vertical-align: middle;
      }
      .audio-player {
        display: flex;
        .player-button {
          align-items: center;
          cursor: pointer;
          display: flex;
          height: 20px;
          justify-content: center;
          margin-right: 10px;
          width: 14px;
          .play-icon,
          .pause-icon {
            padding: 5px;
          }
        }
        .player-seek {
          align-items: center;
          display: flex;
          progress {
            appearance: none;
            height: 2px;
            background-color: $color-alto;
            &::-webkit-progress-bar {
              background-color: $color-alto;
            }
            &::-webkit-progress-value {
              background-color: #fff;
            }
            &::-moz-progress-bar {
              background-color: #fff;
            }
          }
        }
      }
    }
  }
  .chat-image {
    margin-left: 10px;
    &.right {
      margin-left: 0;
    }
    .image-message {
      background-color: $color-gallery;
      border: 1px solid $color-alto;
      border-radius: 8px;
      cursor: pointer;
      height: auto;
      width: 100%;
    }
  }
  .avatar {
    margin-top: 15px;
    @media screen and (max-width: $screen-mobile-max) {
      $image-size: 25px;
      background-size: $image-size !important;
      flex: 0 0 $image-size !important;
      height: $image-size !important;
      width: $image-size !important;
    }
  }
  .chat-user-name {
    color: #000;
    font-size: 11px;
    height: 15px;
    line-height: 15px;
    margin-left: 10px;
  }
  .chat-message {
    display: flex;
    flex-direction: row;
  }
  .chat-time {
    align-self: flex-end;
    color: #000;
    font-size: 11px;
    margin: 0 4px 2px;
    white-space: nowrap;
  }
}
