.avatar {
  background-repeat: no-repeat;
  border-radius: 50%;
  color: #fff;
  position: relative;
  text-align: center;
  user-select: none;
  word-break: break-all;
  &.avatar-tooltip-toggle {
    cursor: pointer;
  }
  .badge-icon {
    $badge-size: 10px;
    align-items: center;
    bottom: 0;
    color: #fff;
    display: flex;
    font-size: 8px;
    height: $badge-size;
    justify-content: center;
    position: absolute;
    right: -7px;
    width: $badge-size;
    &.bigger {
      $badge-size: 21px;
      font-size: 15px;
      height: $badge-size;
      width: $badge-size;
    }
    &.closer {
      right: -3px;
    }
    &.top {
      bottom: auto;
      top: 0;
    }
    &.admin {
      background-color: $color-milano-red;
    }
    &.public {
      background-color: $color-stratos;
    }
    &.facebook {
      background-color: $color-chambray;
    }
    &.google {
      background-color: $color-punch;
    }
    &.twitter {
      background-color: $color-cerulean;
    }
    &.instagram {
      background-color: $color-studio;
    }
    &.linkedin {
      background-color: $color-deep-cerulean;
    }
    &.github {
      background-color: $color-mine-shaft;
    }
  }
}
