.chat-room {
  align-items: center;
  border-bottom: 1px solid $color-goblin;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  padding: 10px 15px;
  transition: all 0.2s ease;
  &:active,
  &:focus,
  &:hover {
    background-color: $color-goblin;
  }
  &.active {
    background-color: $color-royal-purple;
  }
  .avatar {
    margin-right: 14px;
  }
  .chat-room-name {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
    .you-label {
      color: $color-alto;
      margin-left: 7px;
    }
  }
  .new-messages-count {
    align-items: center;
    background-color: $color-amaranth;
    border-radius: 16px;
    color: #fff;
    display: flex;
    font-size: 10px;
    font-weight: bold;
    height: 18px;
    justify-content: center;
    line-height: 18px;
    margin-left: 3px;
    padding: 0 9px;
  }
}
