.chat-room {
  align-items: center;
  border-bottom: 1px solid $color-goblin;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  padding: 10px 15px;
  transition: all 0.2s ease;
  &:active,
  &:focus,
  &:hover {
    background-color: $color-goblin;
  }
  &.active {
    background-color: $color-royal-purple;
  }
  .avatar {
    margin-right: 14px;
  }
  .chat-room-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
    .you-label {
      color: $color-alto;
      margin-left: 7px;
    }
  }
}
