.options-dropdown {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  .dropdown-toggle {
    cursor: pointer;
    border-radius: 50%;
    box-shadow: none;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0 0 10px rgba(0,0,0,0.6);
    }
  }
  .dropdown-menu {

  }
}
