.active-chat-room {
  .chat-room-detail-wrapper {
    align-items: center;
    display: flex;
    .avatar {
      margin-right: 10px;
    }
  }
  .chat-room-detail {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    .chat-room-name {
      display: inline;
      margin: 0 10px 0 0;
      max-width: 370px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @media screen and (max-width: $screen-tablet-max) {
        max-width: 270px;
      }
      @media screen and (max-width: $screen-mobile-max) {
        max-width: 250px;
      }
      @media screen and (max-width: $screen-small-mobile-max) {
        max-width: 110px;
      }
    }
  }
  .chat-room-info {
    .members-count {
      align-items: center;
      color: $color-gallery;
      cursor: pointer;
      display: flex;
      margin-top: 3px;
      transition: all 0.2s ease;
      &:hover {
        color: $color-mine-shaft;
      }
      .user-icon {
        margin-right: 5px;
      }
    }
    .online-indicator-wrapper {
      align-items: center;
      display: flex;
      .online-indicator {
        color: #fff;
        margin-left: 0;
      }
    }
  }
}
