.chat-audio-recorder {
  background-color: $color-gallery;
  bottom: 0;
  position: relative;
  right: 0;
  &.small {
    .sound-wave {
      height: 40px;
    }
    .audio-controls {
      .control {
        $size: 20px;
        font-size: 7px;
        height: $size;
        width: $size;
      }
    }
  }  
  .sound-wave {
    height: 50px;
    width: 100%;
    @media screen and (max-width: $screen-mobile-max) {
      height: 40px;
    }
  }
  .audio-controls {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    @media screen and (max-width: $screen-mobile-max) {
      padding: 0 5px;
    }
    .control-wrapper {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    .control {
      $size: 40px;
      align-items: center;
      border: 1px solid $color-dusty-gray;
      border-radius: 50%;
      color: $color-guardsman-red;
      cursor: pointer;
      display: flex;
      font-size: 12px;
      height: $size;
      justify-content: center;
      margin-bottom: 2px;
      transition: all 0.3s ease;
      width: $size;
      @media screen and (max-width: $screen-mobile-max) {
        font-size: 14px;
      }
      &:hover {
        border-color: $color-guardsman-red;
      }
    }
    .send-button {
      color: $color-dusty-gray;
      cursor: not-allowed;
      &:hover {
        border-color: $color-dusty-gray;
      }
      &.active {
        color: $color-guardsman-red;
        cursor: pointer;
        &:hover {
          border-color: $color-guardsman-red;
        }
      }
    }
  }
}
