a {
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
}
.modal {
  $padding: 15px;
  max-width: 500px;
  padding: 0;
  width: 100%;
  .modal-header,
  .modal-body,
  .modal-footer {
    position: relative;
    padding: $padding;
  }
  .modal-header {
    border-bottom: 1px solid $color-alto;
  }
  .modal-body {

  }
  .modal-footer {
    border-top: 1px solid $color-alto;
    text-align: right;
  }
  .close-button {
    cursor: pointer;
    opacity: 0.5;
    padding: 5px;
    right: 2px;
    top: 2px;
    transition: all 0.2s ease;
    &:hover {
      opacity: 1;
    }
    svg {
      height: 20px;
      width: 20px;
    }
  }
  .modal-title {
    margin: 0;
  }
}
.button {
  color: #fff;
  &:active,
  &:focus,
  &:hover {
    color: #fff;
  }
  &.button-default {
    background-color: $color-alto;
    color: #000;
  }
  &.button-primary {
    background-color: $color-primary;
  }
}
