.chat-room-member {
  align-items: center;
  border-bottom: 1px solid $color-outer-space;
  display: flex;
  font-size: 14px;
  padding: 3px 0;
  position: relative;
  transition: all 0.2s ease;
  &:active,
  &:focus,
  &:hover {
    background-color: $color-outer-space;
  }
  &.online {
    .member-name {
      color: #fff;
    }
  }
  &.offline {
    .avatar {
      filter: grayscale(100%);
    }
    .member-name {
      color: $color-dusty-gray;
    }
  }
  .avatar {
    margin-right: 12px;
  }
  .member-name {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .you-label {
      color: $color-alto;
      margin-left: 7px;
    }
  }
  .member-options-button-wrapper {
    width: 30px;
  }
  .member-options-button {
    cursor: pointer;
    color: $color-dusty-gray;
    opacity: 0;
    text-align: center;
    transition: all 0.2s ease;
  }
  &:hover {
    .member-options-button {
      opacity: 1;
    }
  }
}
