.chat-date-time {
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  position: relative;
  text-align: center;
  user-select: none;
  &:before,
  &:after {
    background-color: $color-alto;
    content: "";
    height: 1px;
    width: 100%;
  }
  &.small {
    font-size: 11px;
  }
  span {
    margin: 0 10px;
    white-space: nowrap;
  }
}
